body {
    text-align: center;
    margin: auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: large;
    background-image: url("img.jpg");
    color: white;
    opacity: 0.8;
    line-height: 2;
    
}



.centered_list {
    text-align: center;
    list-style-position: inside;
    margin: 0 auto;
    max-width: 45em;
    line-height: 1;
}

b {
    line-height: 2;
}


