<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}

{% if session.role == 2 %}

<form action="/add" method="post">
Keskuksen nimi: <br><input type="text" name="center_name" maxlength="50" required="required">
<p>
Sijainti (esim. muodossa Kittilä,Lappi) : <br><input type="text" name="location" required="required">
<p>
Hissien määrä: <br><input type="number" name="lifts" required="required">
<p>
Rinteiden määrä: <br><input type="number" name="slopes" required="required">
<p>
Kuvaus keskuksesta: <br>
<textarea name="description" rows="6" cols="70" required="required"></textarea> <br>
Freestyle-park: <br>
<select name="park">
<option value=f> Ei
<option value=t> Kyllä
</select>
<p>
<input type="submit" value="Lisää keskus listaan">
</form>


{% else %}

<p> Sivun voi nähdä vain ylläpitäjät. Olethan varmasti ylläpitäjä? </p>

{% endif %}


{% endblock %}
