<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}

{% if session.username %}

<h3> Puuttuuko sivuiltamme lempikeskuksesi? <br> Ei hätää ehdota sitä tekstiboksiin niin lisäämme sen nettisivuillemme mahdollisimman pian! </h3>

<p> huom. Kirjoitathan boksiin vain keskuksen nimen! </p>

<form action="/proposition" method="POST">
Keskus jonka haluaisit sovellukseemme: <br>
<textarea name="center" rows="2" cols="40"></textarea>
<br>
<input type="submit" value="Lähetä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% else %}

<p> Et ole kirjautunut sisään teethän sen ensin <a href="/login">täällä</a></p>

{% endif %}

{% endblock %}
