<title> Tervetuloa </title>

<h1>Olet löytänyt Suomen parhaimpien hiihtokeskusten äärelle</h1>

<b> Voit aloittaa luomalla tunnuksen <b> <i>  <a href="/register">täällä</a> </i> </b>
<b> jos taas olet jo luonut semmoisen niin kirjaudu ihmeessä sisään <b> <i> <a href="/login_plain">täällä</a> </i> </b>


<p> Kirjautuneena pääset selaamaan lasketelukeskuksia sekä etsimään sieltä omaan tarpeisiisi sopivia paikkoja! <p> Pääset myös lukemaan arvosteluja keskuksista ja kirjoittamaan niitä myös itse! </p>

