<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Laskettelukeskuksia suomessa</title>
<center>
<body>
<a href="/"> Etusivu ,</a>
<a href="/login"> Kirjaudu ,</a>
<a href="/register"> Rekisteröidy ,</a>
<a href="/skicenters"> Selaa laskettelukeskuksia ,</a>
<a href="/new"> Ehdota keskusta ,</a>
{% if session.username %} 
Kirjautuneena: {{ session.username }} 
<a href="/logout">Kirjaudu ulos</a>
{% endif %}
</body>
</center>
<hr>
{% block content %}{% endblock %}


