<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Laskettelukeskuksia suomessa</title>
<center>
<body>

{% if session.username %} 
<i> Kirjautuneena: {{ session.username }} 
<a href="/logout">Kirjaudu ulos |</a> </i>
{% endif %}

<a href="/"> Etusivu | </a>
<a href="/login"> Kirjaudu | </a>
<a href="/register"> Rekisteröidy | </a>
<a href="/skicenters"> Selaa laskettelukeskuksia | </a>
<a href="/proposition"> Ehdota keskusta | </a>
<a href="/review"> Arvostele keskus | </a>

{% if session.role == 2 and session.username %}

<a href="/read"> Lue ehdotuksia | </a>
<a href="/add">  Lisää keskus| </a>

{% endif %}

</body>
</center>
<hr>
{% block content %}{% endblock %}



