<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}

{% if session.role == 2 %}

<center><div class="scroll_box">

<form action="/remove" method="post">

{% for center in list %}

<input type="radio" name="proposition" value="{{ center.id }}"> <font size = "+3"> {{ center.name }} </font> <br>
	
{% endfor %}

<input type="submit" value="Poista">

</form>

</div>

<p> Pääset lisäämään keskuksen sivuillemme <a href="/add_center_form">täällä</a></p>

</center>

{% else %}

<p> Sivun voi nähdä vain ylläpitäjät. Olethan varmasti ylläpitäjä? </p>

{% endif %}

{% endblock %}

