<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}

<h2>Luo käyttäjätunnus</h2>

{% if session.username %}
<p>Olet kirjautunut sisään käyttäjänimellä: <p style="text-decoration: underline;"> {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>

{% else %}

<p> Muistitko juuri, että oletkin rekisteröitynyt jo aiemmin? Paina siinä tapauksessa <a href="/login">tästä</a></p>

<p> Huom! </p>
<div class="centered_list">
    <ul>
    	<li>Käyttäjänimen tulee olla vähintään 5 ja enintään 20 merkkiä</li>
  	<li>Käyttäjänimi saa sisältää myös erikoismerkkejä ja numeroita</li>
  	<li>Salasanan tulee olla vähintään 8 merkkiä pitkä </li>
  	<li>Salasanan tulee sisältää vähintään yksi <strong> numero </strong> </li>
    </ul>
</div>

<form action="/register" method="post">
Tunnus: <br><input type="text" name="username" maxlength="20">
<p>
Salasana: <br><input type="password" name="password1">
<p>
Salasana uudestaan: <br><input type="password" name="password2">
<p>
Käyttäjärooli:
<select name="role">
<option value=1> käyttäjä
<option value=2> ylläpitäjä
</select>
<p>
<input type="submit" value="Luo tunnus">
</form>


<p>

{% endif %}

{% endblock %}
