<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}

{% if session.username %}
<h1> Laskettelukeskuksia Suomessa </h1>

<b> Jos täältä puuttuu lempikeskuksesi käy ilmoittamassa siitä <i> täältä (tähän tulee linkki) </i> niin hoidamme sen listaan piakkoin :) </b> <br>

{% for center in list %}
<font size = "+2"> <strong> <a href = "/info/{{ center.id }}"> {{center.id}} {{ center.name}} </strong> {{center.location}} </a>  </font> <br> 

{% endfor %}

{% else %}

<p> Et ole kirjautunut sisään teethän sen <a href="/login">täällä</a></p>

{% endif %}


{% endblock %}
