<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}

{% if session.username %}
<h2> Laskettelukeskuksia Suomessa </h2>

<center><div class="scroll_box">

{% for center in list %}
<font size = "+3"> <strong> <a href = "/info/{{ center.id }}">  {{ center.name}} </strong> {{center.location}} </a>  </font> <br> 

{% endfor %}

</div></center>

<b> <strong> Oletko jo käynyt jossain ylläolevista keskuksista? Arvostele 			laskettelukeskus <a href="/review"> täällä </a> <br> 
tai jos listalta puuttuu lempikeskuksesi niin käy ilmoittamassa siitä <a href="/	proposition"> täällä </a> niin hoidamme sen listaan piakkoin :)  </strong> </b> <br>

{% else %}

<p> Et ole kirjautunut sisään teethän sen ensin <a href="/login">täällä</a></p>

{% endif %}


{% endblock %}
