<!DOCTYPE html>

{% extends "layout.html" %}
{% block content %}

{% if session.username %}
<h1> Laskettelukeskuksia Suomessa </h1>

<b> Jos täältä puuttuu lempikeskuksesi käy ilmoittamassa siitä <i> täältä (tähän tulee linkki) </i> niin hoidamme sen listaan piakkoin :) </b> <br>

<center><div class="scroll_box">

{% for center in list %}
<font size = "+3"> <strong> <a href = "/info/{{ center.id }}">  {{ center.name}} </strong> {{center.location}} </a>  </font> <br> 

{% endfor %}

</div></center>

{% else %}

<p> Et ole kirjautunut sisään teethän sen ensin <a href="/login">täällä</a></p>

{% endif %}


{% endblock %}
